server {
  listen 80;
  root /usr/share/nginx/html;
  index index.html;

  # Yeh aapke React App (/, /login, /signup) ko handle karega
  location / {
    try_files $uri $uri/ /index.html;
  }

  # Yeh /api requests (e.g., /api/tasks) ko backend service par bhejega
  location /api/ {
    # 'backend' service ka naam hai jo hum docker-compose mein define karenge
    proxy_pass http://backend:5000; 
    proxy_set_header Host $host;
    proxy_set_header X-Real-IP $remote_addr;
    proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
  }
}
